.sidepane{
    width: 260px;
    height: 100%;
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    border-top: 1px solid lightgrey;
    
    
}

.sidepane .sd-content{
    margin-top: 10px;
    display: grid;
}

.sidepane .sd-content .item-group{
    margin-top: 10px;
}

.sidepane .sd-content .item-group span{
    margin-left: 25px;
    font-size: 13px;
    color: rgb(150, 150, 150);
}

.sidepane .sd-content .item-group .items{
    width: auto;
    display:grid;
    align-items: center;
}

.sidepane .sd-content .item-group .items svg{
    width: 25px;
    height: 25px;
    color: black;
}
.sidepane .sd-content .item-group .items a{
    display: flex;
    align-items: center;
    padding: 10px 18px;
}

.sidepane .sd-content .item-group .items a:hover{
    background-color: var(--light-grey);
}

.sidepane .sd-content .item-group .items span{
    margin-left: 3px;
    font-size: 16px;
    color: black;
    font-weight: 300;    
}

.sidepane .sd-content .item-group .items .item{
    display:flex;
    align-items: center;
    padding: 10px 18px;
}

.sidepane .sd-content .item-group .items .item span{
    flex: 0.99;
    margin-left: 3px;
}


