.button{
    padding: 5px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;

}

.button:hover{
    cursor: pointer;
}

.primary-button{
    display: flex;
    color: var(--primary-color);
}

.primary-button:hover{
    background-color: rgb(247, 247, 253);
}

.secondary-button{
    background-color: var(--primary-color);
    color: white;
}
