.landing-content{
    display: flex;
}


.sidepane{
    width: 260px;
    height: 605px;
    background-color: white;
    border-top: 1px solid lightgrey;
    display: flex;
    
}

.sd-content{
    margin-top: 19px;
    margin-left: 25px;
    width: 100%;
    border: 2px solid black;
}