.content{
    padding-left: 47px;
    margin-top: 17px;
    
}

.content .items{
    margin-top: 12px;
    display: flex; 
}

.content .items .trending-items{
    width: 234px;
    margin: 0 10px;
    height: 177px;
    background-size: cover;
    color: white;
    border-radius: 10px;
    position: relative;
}

.content .items .trending-items:first-child{
    margin-left: 0;
}

.content .items .trending-items:last-child{
    margin-right: 0;
}

.content .items .trending-items .context{
    display: grid;
    position: absolute;
    bottom: 0px;
    padding: 12px;
    
}

.content .items .trending-items .context .item-title{
    font-size: 18px;
    font-weight: bold;
}

.content .items .trending-items .context .description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content .items .trending-items .context .subreddit{
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-size: 13px;
    
}

.content .items .trending-items .context .subreddit img{
    width: 16px;
    height: 16px;
    border-radius: 15px;
    margin-right: 5px;
}

.content .title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
}