.community{
    width: 310px;
    height: 290px;                                          
    margin-top: 10px;
    margin-left: 20px;
    background-color: white;
    display: grid;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    align-items: center;
}

.community .list-item{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 1px solid var(--light-grey);

}

.community .list-item span{
    flex: 0.992;
}

.community .list-item svg{
    margin-right: 0;
    color: rgb(190, 190, 190);
}



