.searchbar input{
    width: 650px;
    height: 40px;
    padding: 10px;
    padding-left: 40px;
    background-color: rgb(247,246,248);
    border: 1px solid rgb(247,246,248);
    border-radius: 20px;
    font-family: "vag";
    font-size: 14px;
    color: black;
    
}

.searchbar input:hover{
    border-color: var(--primary-color);
    background-color: white;
}

.searchbar{
    position: relative;

}

.searchbar label{
    position: absolute;
    padding-left: 13px;
    display: flex;
    align-items: center;
    height: 100%;
}

.searchbar label svg{
    color: rgb(145, 145, 145);
}