:root {
  --border-radius: 3px;
  --primary-color: #FF5414;
  --light-grey: rgb(245, 245, 245);
}

body{
  background-color: #dae0e5;
}

.spacer{
  flex: 1;
}


.hoverable:hover {
  cursor: pointer;
}